@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:ital,wght@1,300&display=swap');


.App {
    text-align: center;
  }
  

.search button {
    cursor:pointer;
    background-color:#fff;
    color:#669;
      
  }

  .row2{
    color: #555;
    display: flex;
    justify-content: flex-end;
    padding: 2px; 
    border: 1px solid currentColor;
    border-radius: 5px;
    position: absolute;
    top:20px;
    right: 120px;
    text-align: center;
    
    
   

background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 2px solid rgba(255, 255, 255, 0.3);
} 

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  color: #fff;
}

input[type="search"]::placeholder {
  color: rgb(232, 227, 227);
  
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;

  
}

button[type="submit"]:hover {
  opacity: 1;
  color: #fff;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  
  outline: none;
}



.card{
    
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(225, 133, 155, 0.727);
    transition: .5s;
    text-align: center;
    position: relative;
    
    background: rgba(178, 166, 149, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
    border: 1px solid rgba(213, 5, 5, 0.3);

}

.card:hover{
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(1.1);
    background-color:antiquewhite;
}


.card img{
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 1rem;
    object-fit: cover;
    height: max(10rem, 25vh);
  
    
}

.card .bottom{
    display: flex;
    flex-direction: column;  
    padding-bottom: 70px;
    position: relative;
    border-radius: 1rem 1rem 0 0;
    padding: 10px 10px;  
    
}

.card .title{
  
  border-radius:  0.5rem 0.5rem;
  padding: 5px;
  color:rgb(224, 102, 8);
  position: relative;
  
  
}

.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
    padding: 0px 10px;
} 

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .close:hover {
  color: red;
  transition: 0.2s;
}

.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    
}

.inner-box .btn:hover {
    background-color:#c26a1d;
    transition: 0.2s;
}


.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
    
}



.card:hover{
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(1.1);
    background-color:antiquewhite;
}


.card img{
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 1rem;
    object-fit: cover;
    height: max(10rem, 25vh);
  
    
}

.card .bottom{
    display: flex;
    flex-direction: column;  
    padding-bottom: 70px;
    position: relative;
    border-radius: 1rem 1rem 0 0;
    padding: 10px 10px;
  
    
}

.card .title{
  
  border-radius:  0.5rem 0.5rem;
  padding: 5px;
  color:rgb(224, 102, 8);
  position: relative;
  
  
}

.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
    padding: 0px 10px;
} 

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .close:hover {
  color: red;
  transition: 0.2s;
}

.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    
}

.inner-box .btn:hover {
    background-color:#c26a1d;
    transition: 0.2s;
}


.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
    
}



